.Calculator-Body{
    text-align: center;
    border: 1px solid blue;
    background-color:  #205b7a;
    color: #e5e9ec;
    height: 100%;  
    height: 105vh;  
}
.total{
    border: 1px solid white;
    height: 10vh;
    font-weight: bolder;
}
button{
    width: 100%;
}


